# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / React
node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# Java
*.class
*.jar
*.war
*.nar
*.ear

# Other
*.zip
*.tar.gz
*.rar

# IDE / Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Java crash logs
hs_err_pid*
replay_pid*